body {
	background: #E3D8F8;
}


h1 {
	text-align: center;
	color: #270C57;
}

table {
	border: 2px solid #1C0447;
	background: #F5F3F8;
	width: 80%;
	height: 500px;
	margin: auto;
}

td {
	border: 1px solid #1C0447;
	text-align: center;
}

thead {
	background: #9472D0;
}

p {
	text-align: center;
}
